@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700;800;900&display=swap');

:root {
    /* Font = 'Roboto Condensed */
    /* Sizes = 400, 500, 600, 700, 800, 900 */
    --robotoCondensed: 'Roboto Condensed', 'Nunito', sans-serif;
}

.formProfileHeader {
    font-family: var(--robotoCondensed);
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.requiredAsterisk {
    color: #ff6459;
}

.formProfileButton {
    transition: transform 100ms;
}

.formProfileButton:hover {
    transform: translateY(-0.15rem);
    box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.75);
}

.form-control:focus {
    border-color: #018fa6;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 12px #018fa6;
}