.signin_max-width {
    max-width: 500px;
  }

.bg-yellow {
  background-color: #ffc100;;
 } 

.bigHeightSignIn {
  height: 600px;
}

 /* BUTTONS */

.sign-in-btn:hover {
    background-color: #018fa6;

  }